/* @font-face {
  font-family: 'tui-calendar-font-icon';
  src: url('../fonts/icon.eot') format('embedded-opentype'),
       url('../fonts/icon.ttf') format('truetype'),
       url('../fonts/icon.woff') format('woff'),
       url('../fonts/icon.svg') format('svg');
} */


body{
    margin: 0;
    padding: 0;  
     
  }
  
  .slider{
    width: 100%;  
    /* height: 520px;  */
    
    overflow: hidden;
  }
  
  
  .sliders{
    width: 500%;  
    /* height: 520px;   */
    display: flex;    
  }
  
  .sliders input{
    display: none;    
  }
  
  
  .slide {    
    width: 20%;   
    transition: 1s;
    animation: picture 20s infinite linear;
  }
  
  
  
  .slide img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;  
    
  }
  
   .navigation-manual{
    position: absolute;
    width: 360;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    
  }
  
  
  .manual-btn{
    border: 2px solid #e5c2db;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  
  }
  
  
  .manual-btn:not(:last-child){
    margin-right: 40px; 
  }
  
  
  .manual-btn:hover{
    background: #e5c2db;
  }
  
  #radio1:checked ~.first{
    margin-left: 0;
  }
  
  #radio2:checked ~.first{
    margin-left: -20%;
  }
  
  
  #radio3:checked ~.first{
    margin-left: -40%;
  }
  
  #radio4:checked ~.first{
    margin-left: -60%;
  }
  
  
  .navigation-auto{
    position: absolute;
    display: flex;    
    justify-content: center;
    margin-top: 260px;
  }
  
  .navigation-auto div{
    border: 2px solid #e5c2db;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    visibility: hidden;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #e5c2db;
    visibility: hidden;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #e5c2db;
    visibility: hidden;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #e5c2db;
    visibility: hidden;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #e5c2db;
    visibility: hidden;
  }
  
  
  header {
    height: 80px;
    z-index: 10;
  }
  
  .header-banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  
  .nav-item a.active {
    color: white;
    height: 80px;
  }
  
  .nav-item a:hover:not(.active) {
    /* background-color: rgb(0, 5, 6); */
    color: rgb(248, 6, 123);    
    text-decoration: underline;
    height: 80px;
   
    /* font-size: 30px; */
  }
  
 
  @media screen and (max-width: 700px) {
    .nav-item {
      width: 100%;
      height: auto;
      position: relative;
    }
    .nav-item a {float: left;}   
  }
  
  @media screen and (max-width: 400px) {
    .nav-item {
      text-align: center;
      float: none;
    }
  }
 

  .header-banner h1{
    background-color: rgba(18,72,120,0.8);
    color: #fcfbfa;
    padding: 0 1rem;
    position: absolute;
    top: 4rem;    
    left: 1rem;    
  }
  
  nav{
  height: 80px;
  background: #6B4103;
  }
  
  nav div{
    color: #f7f6f5;
    font-size: 2rem;
    line-height: 80px;
    position: absolute;
    top: 0px;
    left: 2%;
  }
  
  nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 2rem;   
    
  }
  
  nav ul li{
    margin-left: 15px;
  }
  
  nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Sarabun';
  }
  
  .post-wrapper-top{
    padding: 0;  
  } 

  .container {   
    padding: 16px;    
  }
  

  .content{
    max-width: 960px;
    max-height: 720;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  

  .table{
    width: 100%;
    
  }
  tr td{
    font-family: 'Sarabun'; 
  }
   
  div ul{  
    max-width: 960px;
    max-height: 720px;
    padding: 0;    
    text-align: center;
    top: 0;
    align-items: center;
  }
  
  article{   
    width: 960px;
    /* border: 1px solid rgb(240, 225, 171);
    background-color: rgb(240, 225, 171); */
  }
  
  
  article img{
    width: 100%;
  }

  aside{
    padding: 2rem;
    width: 100%;
    border: 1px solid rgb(255, 253, 253);   

  }


  area{
    background-color: #ddd;
  }
  
  
  aside img{
    width: 100%;
  }
  
  h1 {
   
    font-family: 'Sarabun';
    font-size: 80px;    
    text-align: center; 
     
  }
  h2 {
    font-family: 'Sarabun';
    font-size: 60px;   
    text-align: center; 
    padding: 0; 
  }

  h3 {    
    font-family: 'Sarabun';   
    font-size: 50px;  
    text-align: center;  
    padding: 0;  
  }

  h4 {    
    font-family: 'Sarabun';
    font-size: 36px;    
    text-align: center; 
    padding: 0; 
  }

  h5 {
    font-family: 'Sarabun';      
    font-size: 24px;    
    text-align: center;     
  }

  h6 {
    font-family: 'Sarabun';
    font-size: 18px;    
    text-align: center; 
    line-height: 0px;
    padding: 0;
  }


  
  caption p{
    
    padding: 0;
    font-family: 'Sarabun'; 
    text-align: center; 
    text-shadow: #000;
    stroke: #000;
  }
 
  .fixed-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .visible-title{
    visibility: visible;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
 
  button {
    font-family: 'Sarabun'; 
    background-color: #460804;
    width: 100%;
    color: white;
    padding: 14px 20px;   
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    margin: auto;    
    border-radius: 8px;
    color: #f7f6f5;
    text-align: center;
    justify-content: center; 
  }
  
  button:hover {
    /* opacity: 0.8; */
    background-color: #c889b6;
    color:#000;
  }
  
  
  
  button-ckreserve{      
    padding: 0;    
    border-radius: 8px;    
    height: 30px;
    text-align: center;
    justify-content: center; 
    display: flex;
    align-items: center;
     
  }
  
  
  button-masseuse{
    padding: 0;    
    border-radius: 8px;       
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: center; 
    display: flex;
    align-items: center;
  
  }
  
  button-reserve{   
    padding: 0; 
    border-radius: 8px;      
    height: 100px;
    text-align: left;
    justify-content: center; 
    display: flex;   
     
  }
  
  #id_confrmdiv
  {
    display: none;
    background-color: #f7f6f5;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 200px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
  }
  #id_confrmdiv button {
    background-color: #fffefd;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
  }
  #id_confrmdiv button:hover
  {
    background-color: #ddd;
  }
  #confirmBox .message
  {
    text-align: center;
    margin-bottom: 8px;
  }
  
 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
 
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {    
    /* border-radius: 50%; */
    width: auto;
  }
  
 
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  .map{
    width: 100%;
    margin: 0;
    padding: 0;
  } 

  .modal {
    font-family: 'Sarabun'; 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  

  .modal-content {
    /* background-color: #FCEDC7; */
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 65%; 
  }
  
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
 
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  
  
  
  
  
  
  
  
  
  